<h1>Cambio de Contraseña</h1>

<p>
  To reset your password, click the URL below.

<%= @user.reset_password_token %>

If you did not your password to be reset, just ignore this email and your password will continue to stay the same.</p>
